* {
  font-family: "Fredoka One", cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

/* All elements inside body */
body {
  background-color: #feffcd;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
}

/* Navbar */
.my-navbar {
  justify-content: space-between;
  background-color: rgb(255, 118, 139);
}

/* Content inside navbar */
.my-container {
  color: white;
}

/* View Highscores button */
.scoreboard {
  color: white;
  text-decoration: none;
}

.scoreboard:hover {
  color: white;
  border: 5px outset rgb(255, 255, 255);
  cursor: pointer;
  padding: 3px;
}

/* Card */
.old-card {
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 40px;
  border-width: 5px;
  border-color: rgb(255, 139, 157);
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  max-width: 800px;
  padding: 30px;
}

/* New Card */
.new-card {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 40px;
  border-width: 5px;
  border-color: rgb(255, 139, 157);
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  max-width: 800px;
  padding: 10px;
}

/* Answer buttons */
.btn-grid {
  display: grid;
  gap: 10px;
  margin: 10px 0;
}

/* Content inside card */
.card-body {
  text-align: center;
}

/* Start button */
.start-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-color: rgb(255, 0, 0);
  background-color: rgb(255, 0, 0);
  border-radius: 5px;
  padding: 3px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* When hover over start button */
.start-btn:hover {
  color: white;
  background-color: rgb(255, 85, 85);
  border-color: rgb(255, 85, 85);
}

/* Answer buttons */
.btn {
  color: rgba(0, 0, 0, 0.781);
  border: 3px solid rgb(255, 85, 85);
  border-radius: 5px;
  padding: 5px 10px;
}

/* Submit and Play Again buttons */
.submit-btn {
  color: white;
  background-color: rgb(255, 85, 85);
  border-color: rgb(255, 85, 85);
  border-radius: 5px;
  padding: 3px;
}

/* Go Back and Clear Highscores */
.go-back-btn {
  color: white;
  background-color: rgb(255, 85, 85);
  border-color: rgb(255, 85, 85);
  border-radius: 5px;
  padding: 5px;
  font-size: large;
}

/* When hover over Go Back and Clear Highscores buttons */
.go-back-btn:hover {
  cursor: pointer;
  font-size: large;
}

/* When hover over answer buttons */
.btn:hover {
  background-color: rgb(255, 85, 85);
}

/* Footer */
footer {
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100vw;
  color: white;
  text-align: center;
  background-color: rgba(255, 112, 112, 0.959);
}

/* Hide element */
.hide {
  display: none;
}
